src/main/resources/output
/project/project/target/config-classes/$3a926effb78ca661b033$.class
/project/project/target/config-classes/$3a926effb78ca661b033.cache
/project/project/target/config-classes/$3a926effb78ca661b033.class
/project/target/config-classes/$7eee3578f4d31f200d50$.class
/project/target/config-classes/$7eee3578f4d31f200d50.cache
/project/target/config-classes/$7eee3578f4d31f200d50.class
/project/target/config-classes/$8bc9b90b0e391183e608$.class
/project/target/config-classes/$8bc9b90b0e391183e608.cache
/project/target/config-classes/$8bc9b90b0e391183e608.class
/project/target/config-classes/$9dd0343bbf4cd24bb574$.class
/project/target/config-classes/$9dd0343bbf4cd24bb574.cache
/project/target/config-classes/$9dd0343bbf4cd24bb574.class
/project/target/config-classes/$92c1b5ea9bc2dfa8c0b1$.class
/project/target/config-classes/$92c1b5ea9bc2dfa8c0b1.cache
/project/target/config-classes/$92c1b5ea9bc2dfa8c0b1.class
/project/target/config-classes/$1910bd5f03f33cd86c57$.class
/project/target/config-classes/$1910bd5f03f33cd86c57.cache
/project/target/config-classes/$1910bd5f03f33cd86c57.class
/project/target/config-classes/$9122c171f8cc8097a3e0$.class
/project/target/config-classes/$9122c171f8cc8097a3e0.cache
/project/target/config-classes/$9122c171f8cc8097a3e0.class
/project/target/config-classes/$802472f9e0d9bc54fde7$.class
/project/target/config-classes/$802472f9e0d9bc54fde7.cache
/project/target/config-classes/$802472f9e0d9bc54fde7.class
/project/target/config-classes/$916310b22abcf6b76840$.class
/project/target/config-classes/$916310b22abcf6b76840.cache
/project/target/config-classes/$916310b22abcf6b76840.class
/project/target/config-classes/$e1161703bad1f854dd2e$.class
/project/target/config-classes/$e1161703bad1f854dd2e.cache
/project/target/config-classes/$e1161703bad1f854dd2e.class
/project/project/target/config-classes/$ebdd9870a9f7124d1635$.class
/project/project/target/config-classes/$ebdd9870a9f7124d1635.cache
/project/project/target/config-classes/$ebdd9870a9f7124d1635.class
/project/target/config-classes/$fccdc13e76dcc39befb6$.class
/project/target/config-classes/$fccdc13e76dcc39befb6.cache
/project/target/config-classes/$fccdc13e76dcc39befb6.class
/.idea/.gitignore
/target/.history3
/.idea/.name
/target/scala-2.13/classes/application.conf
/.idea/codeStyles/codeStyleConfig.xml
/target/streams/compile/scalafmt/_global/streams/config
/target/streams/test/scalafmt/_global/streams/config
/target/scala-2.13/classes/errors/ConfigError$.class
/target/scala-2.13/classes/errors/ConfigError.class
/project/target/scala-2.12/sbt-1.0/sync/copy-resource
/target/scala-2.13/sync/copy-resource
/target/scala-2.13/test-sync/copy-resource
/project/target/streams/compile/copyResources/_global/streams/copy-resources
/target/streams/compile/copyResources/_global/streams/copy-resources
/target/scala-2.13/classes/classes/writer/CsvWriter$.class
/target/scala-2.13/classes/classes/writer/CsvWriter.class
/project/target/streams/compile/_global/_global/discoveredMainClasses/data
/target/streams/compile/_global/_global/discoveredMainClasses/data
/target/streams/test/_global/_global/definedTestNames/data
/target/streams/test/_global/_global/discoveredMainClasses/data
/project/target/scala-2.12/sbt-1.0/classes/Dependencies$.class
/project/target/scala-2.12/sbt-1.0/classes/Dependencies.class
/target/scala-2.13/classes/errors/Error.class
/project/target/streams/compile/compileIncremental/_global/streams/export
/project/target/streams/compile/dependencyClasspath/_global/streams/export
/project/target/streams/compile/exportedProducts/_global/streams/export
/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
/project/target/streams/compile/managedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedJars/_global/streams/export
/project/target/streams/runtime/dependencyClasspath/_global/streams/export
/project/target/streams/runtime/exportedProducts/_global/streams/export
/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/fullClasspath/_global/streams/export
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/managedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedJars/_global/streams/export
/target/streams/compile/compileIncremental/_global/streams/export
/target/streams/compile/dependencyClasspath/_global/streams/export
/target/streams/compile/exportedProductJars/_global/streams/export
/target/streams/compile/exportedProducts/_global/streams/export
/target/streams/compile/externalDependencyClasspath/_global/streams/export
/target/streams/compile/internalDependencyClasspath/_global/streams/export
/target/streams/compile/managedClasspath/_global/streams/export
/target/streams/compile/unmanagedClasspath/_global/streams/export
/target/streams/compile/unmanagedJars/_global/streams/export
/target/streams/runtime/dependencyClasspathAsJars/_global/streams/export
/target/streams/runtime/exportedProductJars/_global/streams/export
/target/streams/runtime/exportedProducts/_global/streams/export
/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/target/streams/runtime/fullClasspathAsJars/_global/streams/export
/target/streams/runtime/internalDependencyAsJars/_global/streams/export
/target/streams/runtime/managedClasspath/_global/streams/export
/target/streams/runtime/unmanagedClasspath/_global/streams/export
/target/streams/runtime/unmanagedJars/_global/streams/export
/target/streams/test/compileIncremental/_global/streams/export
/target/streams/test/dependencyClasspath/_global/streams/export
/target/streams/test/exportedProducts/_global/streams/export
/target/streams/test/externalDependencyClasspath/_global/streams/export
/target/streams/test/fullClasspath/_global/streams/export
/target/streams/test/internalDependencyClasspath/_global/streams/export
/target/streams/test/managedClasspath/_global/streams/export
/target/streams/test/unmanagedClasspath/_global/streams/export
/target/streams/test/unmanagedJars/_global/streams/export
/target/scala-2.13/classes/classes/writer/FileWriter$.class
/target/scala-2.13/classes/classes/writer/FileWriter.class
/.idea/modules/funprog-AL.iml
/.idea/modules/funprog-AL-build.iml
/target/scala-2.13/funprog-al_2.13-0.1.0-SNAPSHOT.jar
/target/scala-2.13/test-classes/example/HelloSpec.class
/project/target/scala-2.12/sbt-1.0/zinc/inc_compile_2.12.zip
/target/scala-2.13/test-zinc/inc_compile_2.13.zip
/target/scala-2.13/zinc/inc_compile_2.13.zip
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
/target/scala-2.13/update/update_cache_2.13/inputs
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
/target/streams/compile/packageBin/_global/streams/inputs
/target/scala-2.13/classes/errors/InstructionError$.class
/target/scala-2.13/classes/errors/InstructionError.class
/target/scala-2.13/classes/classes/writer/JsonWriter$.class
/target/scala-2.13/classes/classes/writer/JsonWriter.class
/target/streams/compile/scalafmt/_global/streams/last
/target/streams/test/scalafmt/_global/streams/last
/target/scala-2.13/classes/classes/domain/Lawn$$anonfun$1.class
/target/scala-2.13/classes/classes/domain/Lawn$$anonfun$2.class
/target/scala-2.13/classes/classes/domain/Lawn$.class
/target/scala-2.13/classes/classes/domain/Lawn.class
/target/scala-2.13/classes/classes/domain/LawnHistory$$anon$1.class
/target/scala-2.13/classes/classes/domain/LawnHistory$.class
/target/scala-2.13/classes/classes/domain/LawnHistory.class
/target/scala-2.13/classes/classes/parser/LawnParser.class
/target/scala-2.13/classes/classes/logger/Logger$.class
/target/scala-2.13/classes/classes/logger/Logger.class
/.idea/misc.xml
/.idea/modules.xml
/target/scala-2.13/classes/classes/domain/Mower$$anon$1.class
/target/scala-2.13/classes/classes/domain/Mower$.class
/target/scala-2.13/classes/classes/domain/Mower.class
/target/scala-2.13/classes/mower.txt
/src/main/scala/MowerFileParser.scala
/target/scala-2.13/classes/classes/domain/MowerHistory$$anon$1.class
/target/scala-2.13/classes/classes/domain/MowerHistory$.class
/target/scala-2.13/classes/classes/domain/MowerHistory.class
/target/scala-2.13/classes/errors/OpenFileError$.class
/target/scala-2.13/classes/errors/OpenFileError.class
/project/target/streams/_global/_global/_global/streams/out
/project/target/streams/_global/_global/csrLogger/_global/streams/out
/project/target/streams/_global/csrConfiguration/_global/streams/out
/project/target/streams/_global/csrProject/_global/streams/out
/project/target/streams/_global/ivyConfiguration/_global/streams/out
/project/target/streams/_global/ivySbt/_global/streams/out
/project/target/streams/_global/moduleSettings/_global/streams/out
/project/target/streams/_global/projectDescriptors/_global/streams/out
/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/project/target/streams/_global/update/_global/streams/out
/project/target/streams/compile/bspReporter/_global/streams/out
/project/target/streams/compile/compile/_global/streams/out
/project/target/streams/compile/compileIncremental/_global/streams/out
/project/target/streams/compile/copyResources/_global/streams/out
/project/target/streams/compile/incOptions/_global/streams/out
/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
/project/target/streams/compile/scalacOptions/_global/streams/out
/project/target/streams/compile/unmanagedClasspath/_global/streams/out
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
/target/streams/_global/_global/_global/streams/out
/target/streams/_global/_global/csrLogger/_global/streams/out
/target/streams/_global/_global/dumpStructure/_global/streams/out
/target/streams/_global/csrConfiguration/_global/streams/out
/target/streams/_global/csrProject/_global/streams/out
/target/streams/_global/ivyConfiguration/_global/streams/out
/target/streams/_global/ivySbt/_global/streams/out
/target/streams/_global/moduleSettings/_global/streams/out
/target/streams/_global/projectDescriptors/_global/streams/out
/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/target/streams/_global/scalacOptions/_global/streams/out
/target/streams/_global/update/_global/streams/out
/target/streams/_global/updateClassifiers/_global/streams/out
/target/streams/compile/bspReporter/_global/streams/out
/target/streams/compile/compile/_global/streams/out
/target/streams/compile/compileIncremental/_global/streams/out
/target/streams/compile/copyResources/_global/streams/out
/target/streams/compile/incOptions/_global/streams/out
/target/streams/compile/internalDependencyClasspath/_global/streams/out
/target/streams/compile/packageBin/_global/streams/out
/target/streams/compile/run/_global/streams/out
/target/streams/compile/scalacOptions/_global/streams/out
/target/streams/compile/scalafmt/_global/streams/out
/target/streams/compile/unmanagedClasspath/_global/streams/out
/target/streams/runtime/internalDependencyAsJars/_global/streams/out
/target/streams/runtime/unmanagedClasspath/_global/streams/out
/target/streams/test/bspReporter/_global/streams/out
/target/streams/test/compile/_global/streams/out
/target/streams/test/compileIncremental/_global/streams/out
/target/streams/test/copyResources/_global/streams/out
/target/streams/test/definedTests/_global/streams/out
/target/streams/test/incOptions/_global/streams/out
/target/streams/test/internalDependencyClasspath/_global/streams/out
/target/streams/test/loadedTestFrameworks/_global/streams/out
/target/streams/test/scalacOptions/_global/streams/out
/target/streams/test/scalafmt/_global/streams/out
/target/streams/test/test/_global/streams/out
/target/streams/test/test/isModule=false name=example.HelloSpec/test/out
/target/streams/test/test/isModule=false name=example.StringSpec/test/out
/target/streams/test/testListeners/_global/streams/out
/target/streams/test/unmanagedClasspath/_global/streams/out
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
/target/scala-2.13/update/update_cache_2.13/output
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
/target/streams/compile/packageBin/_global/streams/output
/target/streams/compile/scalafmt/_global/streams/output-diff
/target/streams/test/scalafmt/_global/streams/output-diff
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
/target/scala-2.13/classes/errors/ParsingError$.class
/target/scala-2.13/classes/errors/ParsingError.class
/target/scala-2.13/classes/classes/domain/Position$$anon$1.class
/target/scala-2.13/classes/classes/domain/Position$.class
/target/scala-2.13/classes/classes/domain/Position.class
/project/target/streams/compile/_global/_global/compileOutputs/previous
/target/streams/compile/_global/_global/compileOutputs/previous
/target/streams/test/_global/_global/compileOutputs/previous
/target/streams/test/_global/_global/dependencyClasspathFiles/previous
/.idea/codeStyles/Project.xml
/.bsp/sbt.json
/.idea/sbt.xml
/target/global-logging/sbt-global-log9293482838989424354.log
/target/global-logging/sbt-global-log12062921670644399337.log
/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_annotations_2_11_4_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_core_2_11_4_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_databind_2_11_4_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_4_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_4_jar.xml
/.idea/libraries/sbt__com_github_pathikrit_better_files_2_13_3_9_2_jar.xml
/.idea/libraries/sbt__com_typesafe_config_1_4_2_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_functional_2_13_2_9_4_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_json_2_13_2_9_4_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_13_2_1_0_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_11_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_reflect_2_13_11_jar.xml
/.idea/libraries/sbt__org_scalactic_scalactic_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_compatible_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_core_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_diagrams_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_featurespec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_flatspec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_freespec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_funspec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_funsuite_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_matchers_core_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_mustmatchers_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_propspec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_refspec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_shouldmatchers_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_wordspec_2_13_3_2_16_jar.xml
/.idea/scala_compiler.xml
/target/scala-2.13/test-classes/example/StringSpec.class
/target/streams/test/test/_global/streams/succeeded_tests
/target/test-reports/TEST-example.HelloSpec.xml
/target/test-reports/TEST-example.StringSpec.xml
/.idea/vcs.xml
/target/compiler_plugins/wartremover_2.13.3-2.4.13.jar
/target/scala-2.13/compiler_plugins/wartremover_2.13.11-3.1.3.jar
/target/scala-2.13/classes/classes/writer/WriterController$.class
/target/scala-2.13/classes/classes/writer/WriterController.class
/target/scala-2.13/classes/classes/writer/YamlWriter$.class
/target/scala-2.13/classes/classes/writer/YamlWriter.class
/target/scala-2.13/classes/Main$.class
/target/scala-2.13/classes/Main$delayedInit$body.class
/target/scala-2.13/classes/Main.class
